@media screen and (min-width: 481px) {
  html {
    background-image: url(../img/webb.png);
  }
  html body #page {
    text-align: center;
  }
  html body #page #global_header {
    margin: 0px 0px 100px;
    width: 100%;
    background-color: #ff0000;
    text-align: center;
  }
  html body #page #global_header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }
  html body #page #global_header ul li {
    list-style: none;
    padding: 10px 20px;
  }
  html body #page h1 br {
    display: none;
  }
  html body #page div#work {
    padding: 150px auto;
    margin: 0 auto;
    width: 85%;
  }
  html body #page div#work ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  html body #page div#work ul li.effect {
    list-style: none;
    margin-top: 70px;
  }
  html body #page div#work ul li.effect a.a-siteLink {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 20px 20px;
    width: 350px;
    height: 250px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
    background-color: #000;
  }
  html body #page div#work ul li.effect a.a-siteLink:hover {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  }
  html body #page div#work ul li.effect a.a-siteLink:hover span {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  }
  html body #page div#work ul li.effect a.a-siteLink.x {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    display: inline-block;
    margin: 20px 20px;
    width: 350px;
    height: 250px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.4);
            box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.4);
    background-color: #fff;
  }
  html body #page div#work ul li.effect a.a-siteLink.x:hover {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.4);
  }
  html body #page div#work ul li.effect a.a-siteLink.x:hover span {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.4);
  }
  html body #page div#work ul li.effect a.a-siteLink img {
    width: 350px;
    height: 200px;
  }
  html body #page div#work ul li.effect a.a-siteLink p {
    text-align: center;
    line-height: 40px;
  }
  html body #page div#work ul li.effect a.a-siteLink span.span_describe {
    display: block;
    position: absolute;
    background-color: #191970;
    top: -220px;
    width: 300px;
    height: 50px;
    font: normal 14px sans-serif;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
  }
  html body #page div#work ul li.effect a.a-siteLink span.span_describe::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #191970;
  }
  html body #page div#work ul li.effect a.a-siteLink span.span_describe.a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #c71585;
  }
}
/*# sourceMappingURL=style_web.css.map */